header h1 {
  font-family: 'Kaisei Opti' !important;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 1em;
}

#main {
  padding-bottom: 5em;
  background-color: #f6f6f6;
}

.markdown-body {
  font-family: 'Kiwi Maru' !important;
  background-color: white !important;
  color: black !important;
}

.markdown-body pre {
  background-color: #f6f6f6 !important;
}
